<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
			<section name="processConfigurationSection" type="ConsoleApp1.ProcessConfigurationSection, ConsoleApp1" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<processConfigurationSection>
		<Process>
			<processConfiguration NameProcess="WINWORD" Path="C:\Program..." URL="https://frgp.cvg.utn.edu.ar" StartUpDelay="12" StartMonitor="1" StartXPosition="100" StartYPosition="50" Height="600" Width="800" Maximized="true" Minimized="false" ReOpenOnClose="true" StartAutomatically="true"></processConfiguration>
			<processConfiguration NameProcess="ECXEL" Path="C:\Program..." URL="https://frgp.cvg.utn.edu.ar" StartUpDelay="12" StartMonitor="1" StartXPosition="100" StartYPosition="50" Height="600" Width="800" Maximized="true" Minimized="false" ReOpenOnClose="true" StartAutomatically="true"></processConfiguration>
		</Process>
	</processConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>